@model List<Empleado>

<h1 style="color:red">
    Empleados almacenados OK
</h1>
<p>
    <a asp-controller="Empleados"
    asp-action="SessionEmpleadosOk">
        Volver a empleados
    </a>
</p>

<h2 style="color:red">@ViewData["MENSAJE"]</h2>

@if (Model != null)
{
    <table class="table table-warning">
        <thead>
            <tr>
                <th>Id</th>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
                <th>Departamento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdEmpleado</td>
                    <td>@item.Apellido</td>
                    <td>@item.Oficio</td>
                    <td>@item.Salario</td>
                    <td>@item.IdDepartamento</td>
                </tr>
            }
        </tbody>
    </table>
}