@model List<Empleado>

@{
    //NECESITAMOS SESSION EN LA VISTA PARA COMPROBAR SUS DATOS
    List<int> ids =
        Context.Session.GetObject<List<int>>("IDSEMPLEADOS");
    List<Empleado> favoritos =
        memoryCache.Get<List<Empleado>>("FAVORITOS");
}

<h1 style="color:blue">
    Empleados Session V5
</h1>

@if (ids != null)
{
    <h3 style="background-color:lightgreen">
        Empleados Session: <b>@ids.Count</b>
    </h3>
}
else
{
    <h3 style="background-color:lightgreen">
        Empleados Session: <b>0</b>
    </h3>
}

@if (favoritos != null)
{
    <h3 style="background-color: lightsalmon">
        Favoritos: @favoritos.Count
    </h3>
}
else
{
    <h3 style="background-color: lightsalmon">
        Favoritos: 0
    </h3>
}

<p>
    <a asp-controller="Empleados"
       asp-action="EmpleadosAlmacenadosV5">
        Empleados almacenados V5
    </a>
</p>
<p>
    <a asp-controller="Empleados"
       asp-action="EmpleadosFavoritos">
        Favoritos
    </a>
</p>

<h3 style="color:red">@ViewData["MENSAJE"]</h3>
<ul class="list-group">
    @foreach (Empleado empleado in Model)
    {
        <li class="list-group-item list-group-item-info">
            @empleado.Apellido
            @if (favoritos == null)
            {
                <a asp-controller="Empleados"
                   asp-action="SessionEmpleadosV5" class="btn btn-info"
                   asp-route-idfavorito="@empleado.IdEmpleado">
                    <img src="~/images/corazonvacio.png"
                         style="width:30px; height: 30px" />
                </a>
            }
            else
            {
                //DEBEMOS PREGUNTAR SI EXISTE EL EMPLEADO 
                //CON EL ID QUE TENEMOS ALMACENADO
                //BUSCAMOS DENTRO DE FAVORITO SI ESTA NUESTRO EMPLEADO
                Empleado empFavorito =
                favoritos.Find(x => x.IdEmpleado == @empleado.IdEmpleado);
                if (empFavorito == null)
                {
                    <a asp-controller="Empleados"
                       asp-action="SessionEmpleadosV5" class="btn btn-info"
                       asp-route-idfavorito="@empleado.IdEmpleado">
                        <img src="~/images/corazonvacio.png"
                             style="width:30px; height: 30px" />
                    </a>
                }
                else
                {
                    <img src="~/images/corazon.png"
                        style="width:30px; height: 30px"/>
                }
            }

            @* PREGUNTAMOS SI EXISTE EL EMPLEADO EN SESSION *@
            @if (ids == null)
            {
                //NO TENEMOS SESSION
                <a asp-controller="Empleados"
                   asp-action="SessionEmpleadosV5" class="btn btn-light"
                   asp-route-idempleado="@empleado.IdEmpleado">
                    Almacenar empleado
                </a>
            }
            else
            {
                //BUSCAMOS SI EL EMPLEADO QUE ESTAMOS RECORRIENDO ESTA EN LA LISTA
                if (ids.Contains(empleado.IdEmpleado))
                {
                    <img src="~/images/ok.png"
                        style="width: 40px; height: 40px"/>
                }
                else
                {
                    <a asp-controller="Empleados"
                       asp-action="SessionEmpleadosV5" class="btn btn-light"
                       asp-route-idempleado="@empleado.IdEmpleado">
                        Almacenar empleado
                    </a>
                }
            }
        </li>
    }
</ul>